.navBar {
  background-color: rgba(17, 30, 97, 0.774);
  height: 95px;
  position: sticky;
  top: 0;
  z-index: 7777;
  backdrop-filter: blur(12px);
}
.homeWrapper2 {
  display: flex;
  flex-direction: column;
}

.cartItemsWrapper {
  overflow-y: scroll;
  position: absolute;
  right: 0;
  top: 95px;
  min-height: auto;
  width: 50%;
  max-height: calc(100vh - 95px);

  background-color: rgba(101, 101, 207, 0.5);
  backdrop-filter: blur(40px);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  .cartItem {
    display: flex;
    gap: 3px;
    border-bottom: 2px black solid;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    box-shadow: 5px 10px 5px rgb(59, 58, 58);
    border-radius: 5px;
    .cartImgWrapper {
      flex-grow: 1;
      img {
        height: 70px;
        width: 70px;
        border-radius: 50%;
        margin-top: 5px;
        margin-bottom: 5px;
        border: 4px rgb(160, 95, 5) solid;
      }
    }

    p {
      flex-grow: 1;
      color: rgb(231, 226, 226);
      font-weight: bold;
    }
  }
  .cartBtnsWrapper {
    flex-grow: 1;

    height: 100%;

    button {
      margin-top: 11px;
      color: white;
      border: 2px white solid;
      font-weight: bold;
      border-style: none;
      width: 95%;
      height: 38px;
      cursor: pointer;
      background-color: rgb(65, 65, 121);
      border-radius: 6px;
      border: 2px whitesmoke solid;
    }
    button:hover {
      color: black;
      background-color: rgb(204, 201, 201);
    }
  }
}
.homeNavWrapper {
  width: 100%;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  z-index: 777;
}
.homeNavItem1 {
  flex-grow: 5;
}
.homeNavItem2 {
  flex-grow: 0.5;
  display: flex;
  justify-content: right;
}
.homeNavItem2 a {
  flex-grow: 1;
  color: azure;
}

.cartWrapper {
  display: flex;
  flex-direction: column;
}
.homeNavCategories {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 3px;
}
.homeNavCategories a {
  font-weight: bolder;
  flex-grow: 1;
  color: #ffffff;
  border-right: 2px whitesmoke solid;
  text-align: center;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  transition-duration: 2;
  -o-transition-duration: 3;
  -moz-transition-duration: 3s;
  border-radius: 5px;
  height: 24px;
}
.homeNavCategories a:hover {
  border-left: 2px whitesmoke solid;
  text-transform: capitalize;
  border-radius: 5px;
  padding-left: 4px;
  background-color: rgb(251, 251, 251);
  color: black;
}
.menuWrapper {
  cursor: pointer;
}
.menuItemsWrapper {
  display: none;
  position: absolute;
  top: 58px;
  color: white;
  height: calc(100vh - 95px);
  width: 80%;
}
.menuItems {
  color: white;
  height: calc(100vh - 50px);
  width: 100%;
  background-color: rgba(28, 40, 90, 0.822);
  position: relative;
}
.closeIcon {
  position: absolute;
  right: 4px;
  top: 4px;
  border-color: none;
  border-width: none;
  border-style: none;
  background-color: rgba(58, 71, 145, 0.692);
  cursor: pointer;
}

.menuButton {
  display: none;
  height: 40px;
  background-color: rgba(66, 77, 131, 0.74);
  flex-grow: 1;
  border-color: none;
  border-width: none;
  border-style: none;
  cursor: pointer;
}

.wrapper1 {
  background-image: url("../public/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 430px;
  text-align: center;
}

.textWrapper {
  text-align: center;
  padding-top: 70px;
  background-color: rgba(121, 117, 117, 0.5);
  backdrop-filter: blur(4px);
  height: 100%;
}
.h2 {
  font-size: 40px;
  color: rgb(216, 243, 247);
  text-shadow: 6px 1px 2px rgba(111, 152, 155, 0.88);
}
.h2::after {
  content: "|";
  font-size: 40px;
  color: rgba(24, 52, 192, 0.774);
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  opacity: 0;
  text-shadow: 6px 1px 2px rgba(72, 90, 246, 0.88);
}
@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.p1 {
  font-size: 30px;
  font-weight: 900;
}
.p2 {
  font-size: 30px;
  font-weight: 900;
}
.joinBtn {
  height: 45px;
  width: 20%;
  border-radius: 9px;
  background: transparent;
  color: white;
  border: 3px rgba(32, 21, 238, 0.5) solid;
  transition-property: all;
  transition-duration: 3s;
  transition-timing-function: ease-in;
  transition-delay: 0s;
  cursor: pointer;
  box-shadow: -23px 16px 24px -3px rgba(46, 46, 48, 0.49);
  backdrop-filter: blur(4px);
}
@keyframes moveBtn {
  0% {
    transform: translateX(-3000px);
  }
  100% {
    transform: translateX(3000px);
  }
}
.joinBtn:hover {
  background-color: rgba(83, 90, 110, 0.5);
  color: #ffffff;
}
.AllProductsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 3px;
  margin-left: 3px;
  margin-right: 3px;
}
.productWrapper {
  flex-grow: 1;
  width: 300px;
  display: inline-flexbox;
  height: auto;
  text-align: center;

  background-color: rgba(8, 14, 47, 0.692);
  border-radius: 5px;
  h3.productTitle {
    color: rgb(218, 246, 246);
    font-family: cursive;
  }
  p.conditionTxt {
    color: rgb(210, 248, 248);
  }
}
.productImg {
  border-radius: 4px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  height: 200px;
  object-fit: fill;
}
.ratingIconsWrapper {
  display: flex;
  span {
    flex-grow: 2;
    display: flex;
    justify-content: center;
    transform: translateX(5px);
  }
  p {
    flex-grow: 1;
    justify-self: left;
    font-weight: 800;
    font-size: 21px;
    color: cornsilk;
    -webkit-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
.productBtns {
}
.viewBtn {
  background-color: #1b2242c5;
  display: block;
  color: white;
  border-color: none;
  border-width: none;
  border-style: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  transition-property: all;
  transition-duration: 4s;
  width: 90%;
  height: 30px;
  border: 2px white solid;
  &:hover {
    color: black;
    background-color: white;
  }
}
.addToCartBtn {
  margin-top: 3px;
  display: block;
  background-color: rgba(28, 35, 66, 0.774);
  color: rgb(255, 255, 255);
  border-color: none;
  border-width: none;
  border-style: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  width: 90%;
  border: 2px white solid;
  padding: 2px;
  transition-property: all;
  transition-duration: 3s;
  &:hover {
    color: black;
    background-color: white;
  }
}
.seeMoreBtn {
  width: 30%;
  background-color: rgba(6, 14, 44, 0.774);
  color: honeydew;
  margin-right: auto;
  margin-left: auto;
  border-color: none;
  border-width: none;
  border-style: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 2px;
}
.allProductsTitle {
  font-size: 20px;
  font-weight: 900;
  text-align: center;

  background-color: rgba(49, 58, 105, 0.774);
  display: block;
  text-shadow: 6px 1px 2px rgba(111, 152, 155, 0.88);
  color: rgb(201, 245, 245);
}
.storesTitle {
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  background-color: rgba(49, 58, 105, 0.774);
  display: block;
  text-shadow: 6px 1px 2px rgba(111, 152, 155, 0.88);
  color: rgb(200, 250, 250);
}
.seeMoreBtnWrapper {
  background-color: rgba(49, 58, 105, 0.774);
  text-align: center;
  margin-top: 3px;
  height: 4vh;
}
.storesWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}
.storeWrapper {
  flex-grow: 1;
  width: 200px;
  height: auto;
  flex-basis: 200px;
  background-color: rgba(8, 14, 47, 0.692);
  margin-top: 3px;
  border-radius: 4px;
  text-align: center;
  p.operation {
    color: rgb(218, 236, 230);
    font-family: serif;
  }
}
.storeName {
  font-size: 15px;
  font-weight: 500;
  font-family: fantasy;
  color: rgb(238, 253, 253);
}
.storeImg {
  height: 170px;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3px;
  object-fit: fill;
}
.visitBtn {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(28, 35, 66, 0.774);

  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  border: 2px white solid;
  color: rgb(228, 245, 245);
  font-weight: bold;
  padding: 2px;
  transition-property: all;
  transition-duration: 3s;
  &:hover {
    color: black;
    background-color: whitesmoke;
  }
}
.footer {
  text-align: center;
  background-color: rgba(3, 6, 26, 0.774);
  color: azure;

  height: 70px;
  padding-top: 10px;
}
.footer p {
  font-size: 12px;
  font-weight: 200;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.registerForm {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.registerFormWrapper {
  background-color: rgba(8, 14, 47, 0.692);
  text-align: center;
  height: 100vh;
}
.registerForm input {
  height: 7vh;
  background-color: rgba(9, 14, 46, 0.692);
  color: aliceblue;
  border-color: none;
  border-width: none;
  border-style: none;
  border-radius: 6px;
}
.registerForm input:focus {
  border-style: none;
  border: none;
  height: 12vh;
  border-color: none;
  border-width: none;
  outline-style: none;
}
.registerForm button {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  background-color: rgba(20, 27, 65, 0.692);
  color: beige;
  height: 30px;
  border-color: none;
  border-width: none;
  border-style: none;
  border-radius: 3px;
}
.registerInput1,
.registerInput2,
.registerInput3,
.registerInput4 {
  display: none;
}
.showErrors {
  color: rgb(179, 42, 42);
}
.errorField {
  background-color: rgb(243, 220, 190);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  margin-top: 4px;
}
.loginInput1,
.loginInput2 {
  display: flex;
  width: 100%;
}
.loginForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.loginFormWrapper {
  background-color: rgba(8, 14, 47, 0.692);
  text-align: center;
  height: 100vh;
}
.loginForm input {
  height: 7vh;
  background-color: rgba(9, 14, 46, 0.692);
  color: aliceblue;
  border-color: none;
  border-width: none;
  border-style: none;
  border-radius: 6px;
}
.loginrForm input:focus {
  border-style: none;
  border: none;
  height: 12vh;
  border-color: none;
  border-width: none;
  outline-style: none;
}
.loginForm button {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  background-color: rgba(20, 27, 65, 0.692);
  color: beige;
  height: 30px;
  border-color: none;
  border-width: none;
  border-style: none;
  border-radius: 3px;
}

.dashBoardNavWapper {
  display: flex;
  background-color: rgba(69, 75, 106, 1);
  justify-content: space-around;
  align-items: center;
  height: 55px;
}

.bars {
  display: flex;
  background-color: #9797c1;
}
.leftBar {
  flex-grow: 5;
}
.rightBar {
  background-color: #60678b;
  flex-grow: 1;
  height: calc(100vh - 50px);
  width: 120px;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 12px;
  margin-right: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  p.heading {
    text-align: center;
    font-weight: 500;
    color: whitesmoke;
    text-transform: uppercase;
  }
  hr {
    width: 80%;
    margin-inline: auto;
  }
  div.wrapper {
    display: flex;
    flex-direction: column;
    section {
      button {
        width: 40%;
        margin-inline: 25%;
        color: whitesmoke;
        background-color: #60678b;
        border-style: none;
        border: 2.5px whitesmoke solid;
        padding-block: 4px;
        border-radius: 10px;
        margin-top: 20%;
        cursor: pointer;
        &:hover,
        &:active {
          background-color: whitesmoke;
          color: #60678b;
        }
      }
    }
    div {
      color: whitesmoke;
      position: relative;
      &:hover,
      &:active {
        opacity: 0.7;
      }
      div.dot {
        height: 10px;
        width: 10px;
        background-color: whitesmoke;
        border-radius: 50%;
        position: absolute;
        top: 34%;
        left: 20%;
      }
      a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7px;
      }
    }
  }
}
.noOrders {
  height: calc(100vh - 55px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.noOrders p {
  color: azure;
  font-size: 19px;
  font-weight: 700;
}

.orderTable {
  width: 100%;
  border: 1px black solid;
  border-collapse: collapse;
}
.tableHeads th {
  border: 1px black solid;
}
.tableRows td {
  text-align: center;
  border-bottom: 1px black solid;
}
.tableRows:nth-child(even) {
  text-align: center;
  border-bottom: 1px black solid;
  background-color: rgb(70, 67, 92);
  color: aliceblue;
}
.orderedImg {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 4px bisque dotted;
}
.isOrderedBtn {
  color: white;
  background-color: rgb(41, 37, 71);
  border-style: none;
  height: 4vh;
  width: 70%;
  border-radius: 9px;
}
.isDelivered {
  display: none;
  position: absolute;
  height: 300px;
  width: 50%;
  top: 10px;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 9px;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 70px;
  background-color: rgba(158, 178, 224, 0.7);
  backdrop-filter: blur(10px);
}
.isDeliveredClose button.close {
  margin-left: 90%;
  color: wheat;
  background-color: #4d3734;
  border-style: none;
  border-radius: 4px;
}
.isDelivered p {
  text-align: center;
  font-size: 20px;
  font-weight: 900;
}
.isDelivered button.is {
  display: block;
  width: 50%;
  margin: auto;
  background-color: rgb(50, 77, 109);
  border-style: none;
  border-radius: 6px;
  color: beige;
  height: 30px;
  margin-top: 3px;
}
.leftBar h5.order {
  text-align: center;
  color: aliceblue;
  font-size: 15px;
  text-decoration: underline;
}
.leftBar div.items {
  gap: 2%;
  flex-wrap: wrap;
}
.leftBar div.items div.item1 {
  margin-left: 4px;
  margin-right: 4px;
  display: inline-block;
  width: 32.3%;
  background-color: rgba(58, 67, 114, 0.774);
  margin-bottom: 3px;
  height: 18vh;
  color: white;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  text-align: center;
}
.leftBar div.items div.item2 {
  margin-right: 4px;
  margin-left: 4px;
  display: inline-block;
  width: 32.3%;
  background-color: rgba(58, 67, 114, 0.774);
  margin-bottom: 3px;
  height: 18vh;
  color: white;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  text-align: center;
}
.leftBar div.items div.item3 {
  margin-right: 4px;
  margin-left: 4px;
  background-color: rgba(58, 67, 114, 0.774);
  display: inline-block;
  width: 32.3%;
  flex-basis: 30.3%;
  margin-bottom: 3px;
  height: 18vh;
  color: white;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  text-align: center;
}
.leftBar div.items div.item1 p.item1 {
  font-size: 15px;
  font-weight: 900;
}
.leftBar div.items div.item1 p.num {
  font-size: 20px;
  font-weight: 500;
  position: relative;
}
.performanceTittle {
  font-size: 15px;
  font-weight: 900;
}
.notificationsWrapper {
  background-color: #60678b;
  position: relative;
  width: 70%;
  margin: auto;

  cursor: pointer;
  top: 16px;
  border-radius: 12px;
  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 80px;
    max-height: auto;

    .not_img {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 3px;
      img {
        border-radius: 50%;
      }
      span {
        color: whitesmoke;
        font-size: 10px;
      }
    }
    .not_msg {
      flex: 5;
      color: whitesmoke;
      p {
        font-size: 13px;
        font-family: sans-serif;
        font-weight: 600;
      }
    }
    .not_btn {
      position: relative;
      flex: 1;
    }
  }
}

.addPaymentWrapper {
  border-radius: 0 20%;
  width: 80%;
  height: 300px;
  background-color: rgba(187, 183, 245, 0.4);
  margin: auto;
  backdrop-filter: blur(100px);
  text-align: center;
}
.addPaymentWrapper p {
  text-align: center;
  color: rgb(235, 242, 243);
  font-weight: 600;
  font-size: 18px;
  font-family: cursive;
}
.addPaymentWrapper label {
  display: none;
}
.addPaymentWrapper button {
  display: block;
  width: 30%;
  margin: auto;
  background-color: rgb(50, 77, 109);
  border-style: none;
  border-radius: 6px;
  color: beige;
  height: 30px;
  margin-top: 3px;
}
.addPaymentWrapper input {
  border-radius: 9px;
  width: 80%;
  margin: auto;
  outline-style: none;
  height: 6vh;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: rgba(187, 183, 245, 0.4);
  color: rgb(253, 248, 237);
  font-weight: 700;
  font-size: 17px;
}
.moreOpts {
  background-color: rgba(100, 105, 128, 0.5);
  border-style: none;
  position: absolute;
  top: 40%;
  right: 0;
  cursor: pointer;
}

.cartBadge {
  background-color: red;
  text-align: center;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  font-size: 11px;
  font-weight: bold;
  position: absolute;
  left: 10px;
  top: 2px;
  color: rgb(163, 238, 248);
}
.cartIcon {
  font-size: 35px;
}
.cartWrapper {
  position: relative;
  background-color: rgba(66, 77, 131, 0.74);
  border: none;
  cursor: pointer;
}
.noCartItems {
  font-weight: bolder;
  color: white;
  text-align: center;
}
@media screen and (max-width: 620px) {
  .close {
    position: absolute;
    right: 2%;
    top: 2px;
  }
  .profileDetails {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .editPopUp {
    width: 80%;
    left: auto;
    right: 10%;
    height: 200px;
  }
  .addPaymentWrapper p {
    text-align: center;
    color: rgb(235, 242, 243);
    font-weight: 400;
    font-size: 14px;
    font-family: cursive;
  }
  .addPaymentWrapper {
    border-radius: 0% 10%;
  }
  .addPaymentWrapper input {
    font-size: 400;
    font-weight: 13px;
  }
  .notificationsWrapper {
    width: 100%;
    border-radius: 5px;
  }
  .noOrders p {
    color: azure;
    font-size: 10px;
    font-weight: 500;
  }
  .leftBar div.items div.item1 {
    width: 47%;
  }
  .leftBar div.items div.item2 {
    width: 47%;
  }
  .leftBar div.items div.item3 {
    width: 47%;
  }
  .isDelivered {
    position: absolute;
    height: 300px;
    width: 80%;
    top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 9px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: rgba(158, 178, 224, 0.7);
    backdrop-filter: blur(10px);
  }

  .rightBar {
    display: none;
  }
  .orderedImg {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 4px bisque dotted;
  }
  .registerForm {
    width: 90%;
  }
  .footer p {
    font-size: 10px;
  }
  .menuButton {
    display: inline;
  }
  .cartItemsWrapper {
    top: 55px;
  }
  .navBar {
    height: 55px;
  }
  .homeNavCategories a {
    display: none;
  }
  .homeNavCategories {
    display: block;
  }
  .menuItems {
    display: none;
  }
  .loginLink {
    display: none;
  }
  .registerLink {
    display: none;
  }
  .menuItemsWrapper {
    display: block;
  }
  .menuListWrapper {
    position: relative;
    top: 30px;
    color: azure;
    display: flex;
    flex-direction: column;
    gap: 3px;
    overflow-y: scroll;
    height: calc(100vh - 100px);
  }
  .categoryBtn {
    background-color: rgba(58, 71, 145, 0.692);
    flex-grow: 1;
    border-color: none;
    border-width: none;
    border-style: none;
    cursor: pointer;
    height: 40px;
    color: aliceblue;
  }
  .categoryBtn:hover,
  .categoryBtn:active,
  .categoryBtn:visited {
    background-color: rgba(92, 108, 199, 0.692);
  }
  .btnsWrapper {
    flex-grow: 1;
    display: flex;
    gap: 2px;
    padding: 4px;
  }
  .productWrapper {
    width: 200px;
  }
  .login2 {
    background-color: rgba(92, 108, 199, 0.692);
    color: cornsilk;
    border-radius: 6px;
    flex-grow: 1;
    border-color: none;
    border-width: none;
    border-style: none;
    cursor: pointer;
    height: 35px;
    width: auto;
  }
  .h2 {
    font-size: 25px;
  }
  .cartItemsWrapper {
    width: 80%;
  }
  .register2 {
    width: auto;
    background-color: rgba(92, 108, 199, 0.692);
    color: cornsilk;
    border-radius: 6px;
    flex-grow: 1;
    border-color: none;
    border-width: none;
    border-style: none;
    cursor: pointer;
    height: 35px;
  }
}
@media screen and (max-width: 1000px) {
  .leftBar div.items div.item1 {
    width: 47%;
  }
  .leftBar div.items div.item2 {
    width: 47%;
  }
  .leftBar div.items div.item3 {
    width: 47%;
  }
  .close {
    position: absolute;
    right: 3%;
    top: 2px;
  }
}
@media screen and (min-width: 1500px) {
  .cartItem {
    height: 70px;
    width: 70px;
  }
}
